Repository pyronear/pyro-engine, pull requests merged in 2022-09, with the labels that each got.

#117 fix: Updated config files location in capture.py
  src/capture.py
Labels: type: bug, ext: src

#118 feat: Added log management
  docker-compose.yml
Labels: type: enhancement, topic: docker

#124 fix: Fixes PIL resizing for non squared shapes
  pyroengine/core.py
  pyroengine/vision.py
  tests/test_engine_core.py
  tests/test_engine_vision.py
Labels: type: bug, ext: tests, module: vision, ext: src

#120 refactor: Updated src/capture.py
  Dockerfile
  docs/source/core.rst
  docs/source/engine.rst
  docs/source/sensors.rst
  pyproject.toml
  pyroengine/__init__.py
  pyroengine/core.py
  pyroengine/engine.py
  pyroengine/sensors.py
  src/capture.py
  src/pyproject.toml
  src/run.py
  tests/test_core.py
  tests/test_engine.py
  tests/test_sensors.py
  tests/test_vision.py
Labels: type: enhancement, type: code quality, ext: tests, ext: docs, ext: src, module: sensors, module: core

#125 feat: Adds an option to specify the hash of the HF hub commit
  pyroengine/vision.py
  src/run.py
  tests/test_vision.py
Labels: type: new feature, ext: tests, module: vision, ext: src
